{{#if isEditing}}
  {{edit-todo class='edit' value=todo.title
                           focus-out='save'
                           insert-newline='save'}}
{{else}}

  {{todo-checkbox class="toggle"
                 checked=isCompleted
                 action='isCompletedChange'}}


  <label {{action 'editTodo' on='doubleClick'}}>{{title}}</label>
  <button {{action 'removeTodo'}} class='destroy'></button>
{{/if}}
