<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        {{input type="text" id="new-todo" placeholder="What needs to be done?" value=newTitle action="createTodo"}}
    </header>

    <section id="main">
        <ul id="todo-list">
            {{#each model as |todo|}}
                {{my-todo todo=todo}}
            {{/each}}
        </ul>

        <input type="checkbox" id="toggle-all">
    </section>

    <footer id="footer">
    <span id="todo-count">
      <strong>{{remaining.length}}</strong> todos left
    </span>
        <ul id="filters">
            <li>
                {{#link-to 'todos' activeClass="selected" }} all{{/link-to}}
            </li>
            <li>
                {{#link-to 'todos.active' activeClass="selected" }} active{{/link-to}}
            </li>
            <li>
                <a href="/completed">Completed</a>
            </li>
        </ul>

        <button id="clear-completed" {{action 'clearCompleted'}}>
            Clear completed ({{completed.length}})
        </button>
    </footer>
</section>
